# Unreal build/package output
Builds/
Binaries/
Intermediate/
Saved/
DerivedDataCache/

# Debug symbols / packaged binaries
*.pdb
*.exe
*.ucas
*.utoc
*.pak
Penance/Built/.DS_Store
.DS_Store
Penance/.DS_Store
Penance/Built/.DS_Store
Penance/Content/Player/.DS_Store
Penance/Content/PenanceAssets/Enemies/PenanceCarrier/.DS_Store
